.navigation {
  grid-area: navigation;
  
}

.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 38px;
  justify-content: center;
  margin-top: 12px;
  list-style: none;
  padding: 0;
  margin: 0;   
  top: 20px;   
  padding: 10px 20px; 
  
}

.navLink {
  list-style: none;
}

.linkInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.linkText {
  display: none;
}

.navIcon {
  width: 38px;
  height: 38px;
  
  padding: 8px;
 fill: rgb(74, 86, 226);
  position: relative;
  z-index: 1;
}

.linkInner::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4); /* Tıklanmamışsa kutu gri */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.linkInner.active .navIcon {
  fill: white;
}

.linkInner.active::before {
 background-color: rgb(74, 86, 226);
}

.linkInner.active::after {
 content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 14px;
  background: rgb(74, 86, 226);
  z-index: 0;
  opacity: 0.4;
  filter: blur(12px);
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    opacity: 0.3;
    filter: blur(8px);
  }
  to {
    opacity: 0.6;
    filter: blur(16px);
  }
}


/* Tablet Styles */
@media screen and ((min-width: 768px)) {
  .navigation ul {
    flex-direction: column;
    gap: 12px;
    align-self: start;
    margin-left: 30px;
    margin-top: 0;
  }

  .linkInner {
    flex-direction: row;
    gap: 23px;
    align-items: center;
    width: initial;
    /* padding-right: 20px;  */
  }
   .linkInner::before {
    background-color: rgba(255, 255, 255, 0.4); /* Tıklanmamışsa kutu gri */
     width: 32px;
    height: 32px;
    left: 16px;
  }
   .linkInner.active::before {
    background-color: rgb(74, 86, 226); /* Tıklanmışsa kutu ana renk */
  }

   .linkInner.active::after {
    width: calc(32px + 8px);
    height: calc(32px + 8px);
    left: 16px;
  }

  .linkText {
    display: block;
    color: rgba(251, 251, 251, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
   .currencyLink {
    display: none;
  }

  .linkInner.active .linkText {
    font-weight: 700;
    font-size: 20px;
    transition: all 0.5s ease 0s;
  }

  .linkInner.active .navIcon {
    border-radius: 4px;
  }

  .linkInner:not(.active):hover > .linkText {
    text-decoration: underline;
    transition: all 0.5s ease 0s;
  }

  .navIcon {
    width: 32px;
    height: 32px;
    padding: 6px;
    fill: rgb(74, 86, 226);
     position: relative;
    z-index: 1;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1280px) {
  .navigation ul {
    margin-bottom: 28px;
  }
}

/* Hover Effects */
@media (hover: hover) {
  .linkInner.active:hover,
  .linkInner.active:focus {
    & .navIcon {
      fill: white; /* Hover'da icon beyaz */
    }
    &::before {
      background-color: rgb(74, 86, 226);
    }
  }
  
  .linkInner:hover,
  .linkInner:focus {
    & .navIcon {
      fill: var(--text-color);
    }
  }
}