.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 32px 24px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  min-width: 320px;
  max-width: 90vw;
  text-align: center;
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.confirmBtn {
  background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
}

.confirmBtn:hover {
  background: linear-gradient(96.76deg, #ffb627 -16.42%, #7000ff 97.04%);
}

.cancelBtn {
  background: #eee;
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
  border: #adadad solid 1px;
}

.cancelBtn:hover {
  border: white solid 1px;
}