.currencyContainer {
    background-color: rgba(74, 86, 226, 0.1);
    color: #fff;

    margin: 0 auto;
}

.currencyTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.currencyHeader {
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 100%;
}

.currencyRow th {
    padding: 13px 20px;
    font-size: 1rem;
}

.currencyBody td {
    padding: 8px 20px;
    font-size: 0.875rem;
}

.currencyBody tr:hover {
    background-color: rgb(75, 45, 117, 0.3);
    transition: background-color 0.3s ease;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .currencyContainer {
        height: 214px;
    }
}

/* 
@media(min-width: 1280px) {
    .currencyContainer {
        width: 480px;
    }
} */