.containerBalance {
  background-color: rgba(82, 59, 126, 0.6);
  width: 480px;
  height: 80px;
  font-weight: 400px;
  backdrop-filter: blur(8px);
  margin-top: 28px;
  border-right: solid 1px gray;

}

.balanceCard {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 56px;


}

.titleBalance {
  color: #8979a9;
  font-size: 12px;
}

.balanceAmount {
  font-size: 30PX;
  margin-top: 12px;
  color: rgba(251, 251, 251, 1);
  display: flex;
}

@media (max-width: 1280px) and (min-width: 769px) {}


@media (max-width: 768px) and (min-width: 320px) {
.containerBalance {

  width: 280px;



  margin-top: 12px;



margin-left: 20px;
  border:  1px solid transparent;
  border-radius: 8px;


}

.balanceCard {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 32px;



}


}