.box {
  background-color: #4a56e21a;
  width: 280px;
  height: 50px;
  border: 1px solid #ffffff99;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  color: #fbfbfb;
  padding: 12px;
}



.date {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: #533dba;
  color: #fbfbfb;
}

@media (min-width: 768px) {
  .box {
    width: 160px;
  }

  .date {
    flex-direction: row;
    gap: 12px;
  }

  .area {
    display: flex;
    gap: 24px;
    margin-left: 24px;
  }
}

@media (min-width: 1270px) {
  .box {
    width: 182px;
  }

  .date {
    gap: 24px;
  }
}
