.chartContainer {
    padding: 2px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(160, 6, 6, 0.1);
    width: 240px;
    height: 144px;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .chartContainer {
        width: 400px;
        height: 180px;
    }
}

@media (min-width: 1024px) {
    .chartContainer {
        width: 480px;
        height: 216px;
    }
}